.active {
	background-color: darkorange;
}
.correct {
	color: green;
}
.incorrect {
	color: red;
	text-decoration: underline;
}
.show {
	display: flex;
	opacity: 1;
	transition: 1s;
}
.hide {
	opacity: 0;
}
.text {
	font-family: monospace;
	font-size: 1.5em;
	padding: 4em;
	transition: 1s;
	text-align: center;
}
.text span {
	padding: auto 1em;
}
.centered {
	text-align: center;
}
